* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: url('cod.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0; /* define a posição horizontal de um elemento em relação à sua posição original*/

    width: 100%; /*define a largura de um elemento */

    padding: 20px 100px; /*define o preenchimento interno de um elemento, ou seja, o espaço entre o conteúdo de um elemento e sua borda*/
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px); /*permite aplicar efeitos visuais aos elementos que estão por trás de um elemento em primeiro plano */
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 100;
    
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::before {
    left: 100%;
}

.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 32px;
    transition: .3s;
}

.navbar a:hover {
    color: red;
}

#menu-icon {
    font-size: 36px;
    color: #fff;
    display: none;
}

@media (max-width: 992px) {
      .header {
        padding: 1.25rem 4%;
      }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        display: none;
    }

    .navbar.active {
       display: block;
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }
    .nav-bg {
        position: fixed;
        top: 11.8%;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }
    .nav-bg.active {
        display: block;
    }
}